---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="container">
  <a href="/blog"><span class="iconify mr-1" data-icon="bi:arrow-left" data-inline="false"></span>Back to Blog</a>
  <p class="mt-2">{{ page.date | date_to_string }} - {{ page.author }}</p>
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% if categories.first %}
      Categories: 
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>
  

  {{ content }}
  {% unless page.noComments %}


  <h2>Comments</h2>
<script src="https://utteranc.es/client.js"
        repo="grahamsh-llk/site"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
  {% endunless %}
  <div class="row">
    <div class="col text-left">
      {% if page.previous.url %} <a href="{{page.previous.url | remove: ".html"}}">« {{page.previous.title}}</a> {% endif %}
    </div>

    <div class="col text-right">
      {% if page.next.url %}<a href="{{page.next.url | remove: ".html"}}"> {{page.next.title}} »</a> {% endif %}
    </div>
  </div>
  
  {% if site.related_posts.size >= 1 %}
<div>
  <h3>Related Posts</h3>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url | remove: ".html"}}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

</div>
<link rel="stylesheet" href="https://spsarolkar.github.io/rouge-theme-preview/css/syntax-github.css">
